/* -------------------------------------------------------------
GENERAL 
------------------------------------------------------------- */
body {
    margin: 0;
}
/* -------------------------------------------------------------
HEADER 
------------------------------------------------------------- */
header {
    width: 100%;
    max-width: 1280px;
    height: 63px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header__img {
    height: 30px;
}

.logo-header__img img {
    height: 30px;
}

.localisation-header__items{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.localisation-header__items p {
    font-size: 14px;
    color: #353535;
    font-family: 'Roboto', sans-serif;
}

.fa-location-dot {
    color: #353535;
    font-size: 16px;
    margin-right: 15px;
}

/* -------------------------------------------------------------
TITLES
------------------------------------------------------------- */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 43px;
}

h2 {
    margin: 0 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

h3 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

/* -------------------------------------------------------------
HEADING SECTION 
------------------------------------------------------------- */
.heading-section {
    background-color: #F6F6F6;
}

.heading-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #353535;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 21px;
}
.call-to-action {
    padding: 30px 0 57px 0;
}

button {
    margin: auto;
    width: 217px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: unset;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    cursor: pointer;
    box-shadow: 0px 5px 10px #bbb;
}

button span {
    align-self: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
}

/* -------------------------------------------------------------
FUNCTION SECTION 
------------------------------------------------------------- */
.function-section {
    width: 100%;
    max-width: 1280px;
    padding-top: 52px;
    padding-bottom: 20px;
    margin: auto;
}

.function-group {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.function-item {
    width: 100%;
    max-width: 320px;
    height: 75px;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px #ddd;
}

.chip {
    background-color: #9356DC;
    font-size: 12px;
    font-family: 'Roboto', 'sans-serif';
    color: #fff;
    padding: 6px 10px;
    border-radius: 50%;
    position: relative;
    right: 13px;
    font-weight: 500;
}

.function-item__icon {
    font-size: 20px;
    color: #7E7E7E;
    padding: 0 20px 0 10px;
}

.function-item--text {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 500;
    color: #000;
    align-self: center;
}

/* -------------------------------------------------------------
RESTAU SECTION 
------------------------------------------------------------- */
.restau-section {
    background-color: #F6F6F6;
    width: 100%;
    padding: 52px 0;
    margin: auto;
}

.title-section__restau {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.restau-group {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.restau-item {
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px #d5d3d3;
    border-radius: 20px;
    position: relative;


    height: 35%;
}

.restau-item a {
    text-decoration: none;
}

.sticker {
    background-color: #99E2D0;
    width: 80px;
    height: 30px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
    text-align: center;
    line-height: 2px;
    font-weight: 500;
    color: #008766;
    font-family: 'Roboto';
    font-size: 14px;
    border-radius: 3px;
}

.restau-item__img {
    height: 174px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.restau-item__img img {
    width: 100%;
    /* position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%); */
    object-fit: cover;
    height: 174px;
}

.restau-infos {
    padding: 16px 14px;
    position: relative;
}

.restau-infos__text {
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 100;
    color: #000;
    margin-top: 3px;
}

.like {
    position: absolute;
    right: 12px;
    top: 35%;
}

.fa-heart {
    font-size: 20px;
    -webkit-text-stroke: #000;
    color: #fff;
    -webkit-text-stroke-width: 1px;
}

.fa-heart:hover {
    /* font-size: 20px;
    -webkit-text-stroke: red;
    color: red;
    -webkit-text-stroke-width: 1px;
    cursor: pointer; */
    background-image: linear-gradient(180deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke: #9356DC;
}

/* -------------------------------------------------------------
FOOTER 
------------------------------------------------------------- */
footer {
    background-color: #353535;
    width: 100%;
    margin: auto;
    padding: 30px 0;
}

.footer-content {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.footer-content img {
    filter: invert(1);
    width: 100px;
    align-self: center;
}

.footer-link {
    display: flex;
    justify-content: center;
}

.footer-link ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0; /* navigateur qui fait chier */
}

.footer-link ul li {
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    padding: 5px 10px;
}

.footer-link ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-link .fa-solid {
    margin-right: 7px;
}

.fa-utensils {
    font-size: 15px;
}

.fa-handshake-angle {
    font-size: 11px;
}

/* -------------------------------------------------------------
MEDIA QUERIES 1024px
------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
    header {
        max-width: 992px;
        width: 100%;
    }

    .function-group {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        margin: auto;
    }

    .function-item {
        margin: 20px auto;
    }

    .restau-group {
        display: flex;
        flex-wrap: wrap;
        max-width: 1030px;
        margin: auto;
    }

    .restau-item {
        margin: 20px auto;
    }
}

/* -------------------------------------------------------------
MEDIA QUERIES 768px
------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    /* ---------- HEADER ---------- */
    header {
        width: 100%;
        max-width: 768px;
        height: unset;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .logo-header {
        width: 100%;
        box-shadow: 0px 5px 10px #ccc;
        z-index: 1;
    }

    .logo-header__img {
        display: flex;
        align-items: center;
        height: 63px;
        justify-content: center;
    }

    .localisation-header {
        width: 100%;
        height: 50px;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ---------- HEADING SECTION ---------- */

    /* ---------- FUNCTION SECTION ---------- */
    .function-section {
        width: 100%;
        max-width: 768px;
        padding-bottom: 10px;
    }

    .function-group {
        display: flex;
        flex-direction: column;
    }

    .function-item {
        margin-bottom: 30px;
    }

    /* ---------- RESTAU SECTION ---------- */
    .restau-section {
        padding-bottom: 20px;
    }
    .restau-item {
        height: 35%;
        width: 100%;
        max-width: 320px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px 1px #d5d3d3;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .restau-group {
        display: flex;
        flex-direction: column;
    }

    /* ---------- FOOTER ---------- */
    .footer-content {
        width: 80%;
        max-width: 768px;
    }

    .footer-content img {
        align-self: flex-start;
    }

    .footer-link {
        display: flex;
        justify-content: flex-start;
    }

    .footer-link ul {
        padding-inline-start: 0;
        flex-direction: column;
    }

    .footer-link ul li {
        padding: 5px 0;
    }
}